.labelWrapper {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.label {
  font-size: 16px;
  color: var(--sage);
  margin-bottom: 0.25rem;
}

.errorMsg {
  color: var(--error);
}

.inputWrapper {
  width: 100%;
  height: 2rem;
  position: relative;
  background-color: transparent;
  background-color: var(--lightest-green);
}

.inputWrapper:focus {
  border: 2px solid var(--brand);
}

.inputWrapper > svg {
  position: absolute;
  height: 1rem;
  top: 0.5rem;
  left: 0.75rem;
  line-height: 1;
  width: auto;
}

.input {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0.5rem 0.75rem 0.5rem 2rem;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  line-height: 1;
  text-align: right;
  color: var(--dark-green);
  border-radius: 0.25rem;
}

.input:focus {
  border: 2px solid var(--brand);
}

.input.error {
  border: 2px solid var(--error);
}
