.btn {
  width: 100%;
  background-color: var(--brand);
  color: var(--dark-green);
  text-transform: uppercase;
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: all 0.3s;
  align-self: end;
  margin-top: 2rem;
  letter-spacing: 0.1rem;
}

.btn:hover {
  background-color: var(--brand-hover);
}

.btn:disabled {
  background-color: var(--inactive);
  cursor: auto;
}
