.wrapper {
  position: relative;
}

.button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--lightest-green);
  color: var(--sage);
  display: block;
  border-radius: 0.25rem;
  text-align: center;
}

.hiddenInput {
  opacity: 0.01;
  height: 1px;
  width: 1px;
  position: absolute;
  left: -10000px;
}

.hiddenInput:checked ~ .button {
  border: 2px solid var(--brand);
}

.input {
  border: none;
  background-color: transparent;
  color: var(--dark-green);
  text-align: right;
  max-width: 4rem;
  outline: none;
}
